@import './base.css';
@import './element.css';
@import './font.css';

#app {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  position: relative;
  align-items: center;
  background: transparent;
}

section {
  position: relative;
  width: 100%;
  min-height: 88dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent;
  padding: 0.5rem 0 2rem 0;
}
